.bg-new {
    background-color:#702c7e !important;
    color: #000;
    position: relative;
    flex-direction: row;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 10rem;
   
    flex-wrap: nowrap;
    justify-content: flex-start;
    
    flex-wrap: inherit;
    
        
  }
  .navbar-brand-new {
    
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .container-nav{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-brand-new.img{
    border-radius: 50rem;
  }