.bg-new {
    background-color:#5e2369bf !important;
     color: #000;
    position: relative;
    flex-direction: row;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
    margin-bottom: 6rem;
    
    
        
  }
  .navbar-brand-new {
    
   
    margin-left: 8rem;
    margin-right: 1rem;
     white-space: nowrap;
   
  }
  .container-nav{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-brand-new.img{
    border-radius: 50rem;
  }