
.img {
    margin-left: 5px;
    }
    .img:hover{
        opacity: 0.5;
    }
.container-list{
     padding-top: 20px;
    height: auto;
    
}
.container-main{
  
    margin-left:20%;
    margin-right:20%;
    vertical-align: top;
   }
   .table{
       background: #f3EDED;
   }
   .btn{
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    
    
}
.table{
    margin-top: auto;
}